.forgotPasswordmain {
  background: url(https://cdn.dribbble.com/users/1107512/screenshots/3997677/_g.gif)
      left top no-repeat,
    url(https://cdn.dribbble.com/users/720472/screenshots/2055709/send-email.gif)
      right no-repeat;
  min-height: 100vh;
  background-size: contain;
  overflow: hidden;
  /* margin-top: -100px; */
  background-repeat: no-repeat;
}

.forget-password-main-container1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;

  /* background:#0675d6; */
}

.forget-password-row {
  justify-content: center;
}

.forget-password-card {
  background: #f9f9f9;
  margin: 0 25px;
  margin-top: 150px;
  box-shadow: 0 0 20px 0 rgba(2, 68, 247, 0.2),
    0 5px 5px 0 rgba(2, 10, 240, 0.24);
  border-radius: 10px;
}

.forget-password-card-body {
  padding: 20px;
}

.forget-password-text-center h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #1869b0;
}

.forget-password-btn-verify,
.forget-password-btn-change,
.forget-password-btn-loading {
  background: #1869b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  display: block;
  width: auto;
  text-align: center;
  font-size: 16px;
  transition: background 0.3s;
  margin: 10px auto;
  padding: 10px 20px;
}
.forget-password-btn-verify {
  padding-left: 40px;
}
.forget-password-btn-verify:hover,
.forget-password-btn-change:hover {
  background: #0675d6;
}
.forget-password-btn-loading {
  cursor: not-allowed;
  position: relative;
  padding-left: 40px;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 10px;
  transform: translateY(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.forget-password-form-group label {
  display: block;
  color: #333;
  padding: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forget-password-form-control {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.forget-password-form-control:focus {
  border-color: #1869b0;
  border-width: 2px;
  border-style: solid;
  outline: none;
}

.forget-password-timer {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  opacity: 0.5;
}
