.download-app--section {
  padding: 9rem;
  background-color: #ff0e0e;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 9.6rem;
}

.download--heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.download-app--section > div > p:nth-child(2) {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.appstore--icons {
  display: flex;
  gap: 2rem;
}

.appstore--icons > img {
  width: 6rem;
  height: 6rem;
}

.reg-btnn {
  background-color: #f4f4f4;
  border: none;
  color: black;
  font-weight: 600;
  padding: 1.2rem 7rem;
  border-radius: 4px;
  font-size: 1.6rem;
  gap: 0.4rem;
  scale: 1;
  display: flex;
  align-items: center;
  transition: scale 0.3s;
}

.reg-btnn > span {
  margin-right: 0.6rem;
}
.reg-btnn:hover {
  scale: 1.2;
  cursor: pointer;
}
@media (max-width: 1110px) {
  .dh {
    font-size: 3.8rem;
  }
}

@media (max-width: 1000px) {
  .dh {
    font-size: 3.8rem;
  }

  .download-app--section {
    flex-direction: column;
    gap: 8rem;
    text-align: center;
  }

  .download-app--section > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .download-app--section {
    display: none;
  }
}
