.title {
  font-size: 25px;
  margin: 20px 0;
}

.all--seller--products {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjusts to screen size */
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1rem; /* Optional: Add spacing between columns */
  width: 100%;
}

@media (max-width: 500px) {
  .all--seller--products {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    column-gap: 0rem !important;
  }
}

.each--seller--card {
  display: flex;
  flex-direction: column;
}

.slr-product--img {
  width: 100%;
}

.slr-product--img > img {
  width: 100%;
  height: auto;
}

.each--seller--card > ul > li {
  list-style: none;
}

.ant-card,
.ant-card-bordered {
  border-radius: 0px !important;
  margin: 0px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;

  background-color: white;
}

.all--seller--products > .ant-col > .ant-card > .ant-card-body {
  padding: 2.4rem 0.5rem !important;
  align-self: flex-start;
}

.all--seller--products > .ant-col {
  width: 100%;
  max-width: 100%;
}

.all--seller--products > .ant-col > .ant-card {
  display: flex;
  flex-direction: column;
}

.all--seller--products > .ant-col > .ant-card > .ant-card-cover {
  width: 100%;
  height: 15rem;
}
.all--seller--products > .ant-col > .ant-card > .ant-card-cover > div {
  width: 100%;
  height: 100%;
}
.all--seller--products > .ant-col > .ant-card > .ant-card-cover > div > img {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.all--seller--products > .ant-col > .ant-card > .ant-card-actions {
  gap: 2rem;
}
