.allproductspage-container {
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
  /* background-image: linear-gradient(45deg, wheat, rgba(165, 42, 42, 0.521)),url("https://i.pinimg.com/originals/d9/b4/b3/d9b4b395e6f255b6a0db2ae2cdd08cf9.png") ; */
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  background-size: cover;
}

.Productspage-container {
  width: 100vw;
  height: 100vh;
}

.Productspage-container .location-selector {
  /* padding-top: 40px; */
  margin-bottom: 20px;
  margin-top: 40px;
  margin-right: 130px;
}

.Productspage-container .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.Productspage-container .product-card {
  padding: 15px;
  width: 20%;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #fff;
}

.Productspage-container .product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.Productspage-container .card-content {
  /* padding: 15px; */
}

.Productspage-container .card-actions {
  text-align: center;
  padding: 5px;
}

.Productspage-container .show-more-link {
  color: #1890ff;
  cursor: pointer;
  margin-top: 10px;
}

.Productspage-container .show-more-link:hover {
  text-decoration: underline;
}

.Productspage-container .grade-table {
  margin-top: 10px;
  width: 100%;
  /* border-collapse: collapse; */
}

.grade-table td {
  padding: 10px;
  /* border: 1px solid #b1b1b1; */
}
.Productspage-container .product-image {
  border-radius: 4px 4px 0 0;
}
.Productspage-container .grade-table tr:nth-child(even) {
  /* background-color: #f9f9f9;  */
}

.Productspage-container .modal-content {
  display: flex;
  align-items: center;
}

.modal-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.Productspage-container .modal-footer {
  text-align: right;
}

.Productspage-container .grade-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Productspage-container .grade-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;

  margin: 0 auto;
}

.grade-details .description {
  max-width: 400px;
}

.Productspage-container .grade-details h4 {
  margin-bottom: 8px;
}

.Productspage-container .grade-details p {
  margin: 0;
}

.order-summary {
  margin-top: 16px;
}

.order-summary p {
  margin: 4px 0;
}

.order-summary .summary-table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary .summary-table td {
  padding: 8px;
  border: 1px solid #e0e0e0;
}

.modal-footer {
  text-align: right;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.checkout-button:hover {
  background-color: #40a9ff;
}

.order-breakdown table {
  width: 100%;
  border-collapse: collapse;
}

.order-breakdown th,
.order-breakdown td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

.order-breakdown th {
  background-color: #f2f2f2;
}

.ant-card-body {
  background-color: #ffffff23;
  /* backdrop-filter: blur(1px); */
}

.product-container-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offerHeading {
  /* align-self: flex-start; */
  /* margin-left: 150px; */
}
/* .products-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 200px);
} */
/* 
.product-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */

.product-image-container {
  position: relative;
}
.product-image-container img {
  height: 160px;
  width: 100%;
}
.discount-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #f00;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}
.timer {
  color: red;
  margin-bottom: 0;
  font-weight: bold;
}
.offer-ends {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}

.product-details {
  display: flex;
}

.product-unit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.original-price {
  text-decoration: line-through;
  color: #eb0d0d;
  margin-right: 5px !important;
}

.place-order-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.place-order-btn:hover {
  background-color: #45a049;
}
